{
  "latitude": 37.808673,
  "longitude": -122.409821,
  "hash_key": "YOUR_HASH_KEY",
  "accounts_file": "accounts.csv",
  "proxies_file": "proxies.txt",
  "scan_retries": 3,
  "include_nearby": false,
  "pokemon_name_format": "USE EITHER full OR short OR id",
  "shadowcheck_threads": 10,
  "login_retries": 3,
  "login_delay": 6
}
